@font-face {
  font-family: 'Bogart';
  src: url('/font-files/bogart-black-trial-webfont.woff2') format('woff2'),
       url('/font-files/bogart-black-trial-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;

}

@font-face {
  font-family: 'Bogart';
  src: url('/font-files/bogart-bold-trial-webfont.woff2') format('woff2'),
       url('/font-files/bogart-bold-trial-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Bogart';
  src: url('/font-files/bogart-semibold-trial-webfont.woff2') format('woff2'),
       url('/font-files/bogart-semibold-trial-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'Bogart';
  src: url('/font-files/bogart-medium-trial-webfont.woff2') format('woff2'),
       url('/font-files/bogart-medium-trial-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Bogart';
  src: url('/font-files/bogart-regular-trial-webfont.woff2') format('woff2'),
       url('/font-files/bogart-regular-trial-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.char-rotate {
  animation: rotating 40s infinite linear;
  animation-fill-mode: forwards; 
  z-index: 1;
}

.grow {
  display: none;
  /* animation: grow 2s infinite ease-in-out;  */
  z-index: 1;
  position: absolute;
  top: 63vh;
  left: 0;
  right: 0;
  color: #f4f3ee; 
  font-family: 'Bogart';
  text-align: center;
  font-weight: 500;
}

.mobile {
  display: block;
}

.letter {
  font-size: 2rem;
}

.algorithms {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
}


/*make collapsable*/
.description {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;

  background-color: #282c34;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

.nav li  {
  background-color: #282c34;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.nav li a,
a.reset {
  color: #fff;
  /* font-weight: bold; */
  transition: all 0.5 ease;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  display: block;
}

.nav li:hover {
  border-radius: 15px;
}

.description ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

.description li  {
  background-color: #fff;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.description li a {
  color: #282c34;
  /* font-weight: bold; */
  transition: all 0.5 ease;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  display: block;
}

.description li:hover {
  border-radius: 15px;
}

.rectangles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  margin: 0 10%;
  top: 20%;
}

a.reset{
  background-color: #282c34;
  border-radius: 20px;
  transition: all 0.3s ease;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

#__next {
  background-color: #463f3a;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


@media only screen and (min-width:360px) {
  .letter, h1 {
    font-size: 3.4rem;
  }

  .grow {
    display: none;
  }

  .grow.mobile {
    display: block;
  }
}

@media only screen and (min-width:720px) {
  .letter, h1 {
    font-size: 7rem;
  }

  .grow {
    display: none;
  }

  .grow.mobile {
    display: block;
  }
}

@media only screen and (min-width:1140px) {
  .letter, h1 {
    font-size: 10rem;
  }

  .grow {
    display: block;
  }

  .grow.mobile {
    display: none;
  }
}



@keyframes rotating {
  from {
    transform: origin;
  }

  to {
    transform: rotate(719.9deg);
  }
}

@keyframes grow {
  0% {
    font-size: initial;
  }
  50% {
    font-size: 1.2rem;
  }
  100% {
    font-size: initial;
  }

}
