html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.char-rotate {
  animation: rotating 40s infinite linear;
  animation-fill-mode: forwards; 
  z-index: 1;
}

.grow:hover {
  animation: grow 1s ease-in-out;
  animation-fill-mode: forwards; 
  z-index: 1;
}

#__next {
  background-color: #463f3a;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@keyframes rotating {
  from {
    transform: origin;
  }

  to {
    transform: rotate(719.9deg);
  }
}

@keyframes grow {
  to {
    opacity: 0.9;
  }
}
