html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.char-rotate {
  animation: rotating 40s infinite linear;
  animation-fill-mode: forwards; 
  z-index: 1;
}

.grow {
  display: none;
  /* animation: grow 2s infinite ease-in-out;  */
  z-index: 1;
  position: absolute;
  top: 57.5vh;
  color: #f4f3ee; 
  font-family: 'Bogart';
  font-weight: 500;
}

.letter {
  font-size: 2rem;
}

#__next {
  background-color: #463f3a;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


@media only screen and (min-width:360px) {
  .letter, h1 {
    font-size: 3.4rem;
  }

  .grow {
    display: none;
  }

  .grow.mobile {
    display: block;
  }
}

@media only screen and (min-width:720px) {
  .letter, h1 {
    font-size: 7rem;
  }

  .grow {
    display: none;
  }

  .grow.mobile {
    display: block;
  }
}

@media only screen and (min-width:1140px) {
  .letter, h1 {
    font-size: 10rem;
  }

  .grow {
    display: block;
  }

  .grow.mobile {
    display: none;
  }
}



@keyframes rotating {
  from {
    transform: origin;
  }

  to {
    transform: rotate(719.9deg);
  }
}

@keyframes grow {
  0% {
    font-size: initial;
  }
  50% {
    font-size: 1.2rem;
  }
  100% {
    font-size: initial;
  }

}
